
<div>
    <ul>
    {% for epic in epics %}
        <li>
            <div>
                <div>{{ epic.name }}</div>
                <div>{{ epic.desc }}</div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
